<h2>Welcome, <%= current_user.username %>!</h2>
<br>
<h3>Here are all the liquors you've tried:</h3>

<% @liquors.each do |liquor| %>
    <li><b><%= liquor.name %></b> - $<%= liquor.price %></li>
    <li><%= liquor.description %>
    <a href="/liquors/<%= liquor.id %>/edit"><button type="button">Edit</button></a>
    <a href="/liquors/<%= liquor.id %>/delete"><button type="button">Delete</button></a><br>
    <br>
<% end %>
<br>
<br>
<a href="/home">Main Menu</a>
<br>
<a href="/liquors/new">Create a new liquor!</a>
<br>
<a href="/logout"><button type="button">Logout</button></a>