<h1>Edit Your Liquor</h1>

<form action='/liquors/<%= @liquor.id %>' method='post'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
   <li>Enter Liquor Name: <input id='name' type='text' name='name' value="<%= @liquor.name%>" required></li>
   <li>Enter Description of Liquor: <input id='description' type=text name='description' value="<%= @liquor.description%>" required></li>
   <li>Enter Price of Liquor: <input id='price' type='number' name='price' value="<%= @liquor.price%>" required></li>
   <br>
  <input type='submit' value='Edit'> <br>
<a href="/users/<%=@current_user.id%>"><button type="button" class="button">Go Back</button></a>
  </form>
  <br>
  <a href="/logout"><button type="button">Logout</button></a>